<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="loginForm" class="form-horizontal">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>

                  <div class="form-group">
                    <div class="controls">
                        <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="icon-user"></i></span>
                            </div>
                            <input [class.is-invalid]='email.touched && email.invalid' type="text" class="form-control" formControlName="email" placeholder="User Email" autocomplete="email" required>
                        </div>
                        <p class='help-block' *ngIf="email.touched && email.invalid">
                          <small class="text-danger" *ngIf="email.errors?.required"> Email is required</small>
                          <small class="text-danger" *ngIf="email.errors?.email"> Invalid Email</small>
                        </p>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="controls">
                        <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-lock"></i></span>
                            </div>
                            <input [class.is-invalid]='password.touched && password.invalid' type="password" class="form-control" formControlName="password" placeholder="Password" autocomplete="current-password" required>
                        </div>
                        <p class='help-block' *ngIf="password.touched && password.invalid">
                          <small class="text-danger" *ngIf="password.errors?.required"> Password is required </small>
                          <small class="text-danger" *ngIf="password.errors?.minlength"> Invalid Password </small>
                        </p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 text-center">
                      <button [disabled]='userForm.invalid || submitted' (click)=onLogin() class="btn btn-primary px-4">
                        <span *ngIf="!submitted"> Login </span>
                        <span *ngIf="submitted"> Logging In <i class="fa fa-spinner fa-spin"></i></span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
