<div>

<div *ngIf="!isPageLoading" class="card">
  <div class='card-body text-center'>
    <div class="row">

      <div *ngIf="isAdmin()" [ngClass]="isAdmin() ? 'form-group col-sm-4':'form-group col-sm-6'">
        <label>User</label>
        <ng-select
                [selectOnTab]="true"
                [clearable]="false"
                bindLabel="user"
                placeholder="Select User"
                (change)= "onChangeUser()"
                [(ngModel)]= "selectedUser"
              >
                <ng-option [value]="user.value" *ngFor="let user of users">
                  {{ user.label }}
                </ng-option>
              </ng-select>
      </div>

      <div [ngClass]="isAdmin() ? 'form-group col-sm-4':'form-group col-sm-6'">
        <label>Project</label>
        <ng-select
                [selectOnTab]="true"
                [clearable]="false"
                bindLabel="project"
                placeholder="Select Project"
                (change)= "onChangeProject()"
                [(ngModel)]= "selectedProject"
              >
                <ng-option [value]="project.value" *ngFor="let project of projects">
                  {{ project.label }}
                </ng-option>
              </ng-select>
      </div>

      <div [ngClass]="isAdmin() ? 'form-group col-sm-4':'form-group col-sm-6'">
        <label>Phase</label>
        <ng-select
                [selectOnTab]="true"
                [clearable]="false"
                bindLabel="phase"
                placeholder="Select Phase"
                (change)= "onChangePhase()"
                [(ngModel)]= "selectedPhase"
              >
                <ng-option [value]="phase.value" *ngFor="let phase of phases">
                  {{ phase.label }}
                </ng-option>
              </ng-select>
      </div>
    </div>

    <div class="row">

      <div class="form-group col-sm-6">
        <label>From Date </label>
        <input class="form-control" id="date-input" name="date-input" placeholder="date" type="date">
      </div>

      <div class="form-group col-sm-6">
        <label>To Date </label>
        <input class="form-control" id="date-input" name="date-input" placeholder="date" type="date">
      </div>

    </div>
  </div>
</div>

<div *ngIf="!isPageLoading && hasEntries()" class="card">
  <div class="card-body">
    <table class='table table-bordered'>
      <thead>
        <tr>
          <th>S.No.</th>
          <th>Date</th>
          <th *ngIf="isAdmin()">User</th>
          <th>Work From</th>
          <th>Project</th>
          <th>Phase</th>
          <th>Task Worked On</th>
          <th>Total Hours</th>
          <th *ngIf="!isAdmin()">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of entries, index as i">
          <td>{{i+1}}</td>
          <td>{{entry.date}} </td>
          <td *ngIf="isAdmin()">{{entry.name}}</td>
          <td>{{entry.workFrom}}</td>
          <td>{{entry.project}}</td>
          <td>{{entry.phase}}</td>
          <td>{{entry.task}}</td>
          <td>{{entry.seconds}}</td>
          <td *ngIf="!isAdmin()">
            <button (click)=onEdit(entry.key) class ='btn-primary'>Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="!isPageLoading && !hasEntries()" class="card">
  <div class="card-body text-center">
    No Entries Available
  </div>
</div>

<div *ngIf="isPageLoading" class="card">
  <div class="loading-indicator">
    <mat-spinner style="margin:0 auto;" diameter='40'></mat-spinner>
    <h1 style="text-align: center">Loading...</h1>
  </div>
</div>

<button *ngIf="!isAdmin()" (click)=onAdd() class='fab' mat-fab color='primary'>
    <mat-icon>add</mat-icon>
</button>
</div>
