<div class="modal-primary" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title" style="font-size: large;">CHANGE PASSWORD</h1>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="pwdForm"> <!-- This links the form to the defined pwdForm-->
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label> Current Password </label>
              <input [class.is-invalid]='currentPwd.touched && currentPwd.invalid' type="text" class="form-control" formControlName="currentPwd" />
              <div *ngIf="currentPwd.touched && currentPwd.invalid">
                <small *ngIf="currentPwd.errors?.required" class='text-danger'> Current Password is required</small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label> New Password </label>
              <input [class.is-invalid]='newPwd.touched && newPwd.invalid' type="text" class="form-control" formControlName="newPwd"/>
              <div *ngIf="newPwd.touched && newPwd.invalid">
                <small *ngIf="newPwd.errors?.required" class='text-danger'> New Password is required</small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label> Confirm Password </label>
              <input [class.is-invalid]='confirmPwd.touched && confirmPwd.invalid' type="text" class="form-control" formControlName="confirmPwd"/>
              <div *ngIf="confirmPwd.touched && confirmPwd.invalid">
                <small *ngIf="confirmPwd.errors?.required" class='text-danger'> Confirm Password is required</small>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
      <button [disabled]='pwdForm.invalid || pwdForm.pristine' type="button" class="btn btn-primary" (click)="confirm()">SAVE</button>
    </div>
  </div>
</div>
