<div class="animated fadeIn">
  <div *ngIf="isPageLoading" class="card">
    <div class="loading-indicator">
      <mat-spinner style="margin:0 auto;" diameter="40"></mat-spinner>
      <h1 style="text-align: center">Loading...</h1>
    </div>
  </div>

  <div *ngIf="!isPageLoading && isAdmin()" class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <div class="card text-white bg-success text-center">
            <div class="card-body">
              <blockquote class="card-bodyquote">
                <h1 style="font-size: 75px; padding-top: 15px;">
                  {{ totalUsers }}
                </h1>
                <footer>
                  <p style='padding-top: 30px; font-size: 30px;'>USER(S)</p>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
        <!--/.col-->

        <div class="col-6">
          <div class="card text-white bg-warning text-center">
            <div class="card-body">
              <blockquote class="card-bodyquote">
                <h1 style="font-size: 75px; padding-top: 15px;">
                  {{ totalProjects }}
                </h1>
                <footer>
                  <p style='padding-top: 30px; font-size: 30px;'>PROJECT(S)</p>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
    </div>
    <!--/.card-body-->
  </div>
  <!--/.card-->

  <div *ngIf="!isPageLoading && isAdmin()" class="card">
    <div *ngIf="totalHours.length === 0" class="card-body" style="text-align: center;">
      No Entries Available
    </div>

    <div *ngIf="totalHours.length > 0" class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Project Name</th>
            <th>Total Hours</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let total of totalHours; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ total.projectName }}</td>
            <td>{{ total.totalTime }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="!isPageLoading && !isAdmin()" class="card">
    <div *ngIf="totalHours.length === 0" class="card-body" style="text-align: center;">
      No Entries Available
    </div>

    <div *ngIf="totalHours.length > 0" class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Project Name</th>
            <th>Total Hours</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let total of totalHours; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ total.projectName }}</td>
            <td>{{ total.totalTime }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
