<div class='card animated fadeIn'>
  <div *ngIf="!isPageLoading && !hasProject()" class="card-body">
    No Projects Available - Click to Add
  </div>

  <div class="loading-indicator" *ngIf="isPageLoading">
    <mat-spinner style="margin:0 auto;" diameter='40'></mat-spinner>
    <h1 style="text-align: center">Loading...</h1>
  </div>

  <table *ngIf="!isPageLoading && hasProject()" class='table table-bordered'>
    <thead>
      <tr>
        <th>S.No.</th>
        <th>Projects</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects, index as i">
        <td>{{i+1}}</td>
        <td>{{project.name}}</td>
        <td>
          <button (click)=onEdit(project) class ='btn-primary'>Edit</button>
          <button (click)=onDelete() class ='btn-primary'>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button (click)=onAdd() class='fab' mat-fab color='primary'>
    <mat-icon>add</mat-icon>
  </button>
</div>
