<div class='container-fluid'>
  <div class='card'>
    <div *ngIf="!hasProject()" class="card-body">
      No Projects Available - Click to Add
    </div>
  </div>
  <table *ngIf="hasProject()" class='table table-bordered'>
    <thead>
      <tr>
        <th>S.No.</th>
        <th>Projects</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Temp Project</td>
        <td>
          <button (click)=onEdit() class ='btn-primary'>Edit</button>
          <button (click)=onDelete() class ='btn-primary'>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)=onAdd() class='fab' mat-fab color='primary'>
    <mat-icon>add</mat-icon>
  </button>
</div>
