<div class='card animated fadeIn' style="padding: 20px;">
  <div *ngIf="!isPageLoading && !hasUser()" class="card-body text-center">
    No Users Available - Click to Add
  </div>

  <div class="loading-indicator" *ngIf="isPageLoading">
    <mat-spinner style="margin:0 auto;" diameter='40'></mat-spinner>
    <h1 style="text-align: center">Loading...</h1>
  </div>

  <table *ngIf="!isPageLoading && hasUser()" class='table table-bordered'>
    <thead>
      <tr>
        <th>S.No.</th>
        <th>User Name</th>
        <th>User Email</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users, index as i">
        <td>{{i+1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>
          &nbsp;
          <button (click)=onEdit(user.uid) class ='btn btn-warning'>Edit</button>
          <!-- we use uid because the key has the email id and it shdnt be displayed in the url-->
          &nbsp; &nbsp; &nbsp;
          <button (click)=onDelete(user) class ='btn btn-danger'>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button (click)=onAdd() class='fab' mat-fab color='primary'>
    <mat-icon>add</mat-icon>
  </button>
</div>
